.about {
    padding-bottom: 130px;
}

.about-align {
    width: 73%;
    margin: auto;
    .title-font {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    span {
        display: block;
    }
}

.about-content-grid {
    display: flex;
    background: url(../images/ninja-bg.png) center no-repeat $clr-100;
}

.about-content-cont {
    font-family: $ff-main;
    font-size: var(--fs-300);
    color: $clr-300;
    line-height: 1.35;
    flex: 1;
    margin-right: 50px;
    &.fix {
        margin-left: 50px;
        margin-right: 0;
    }
    .top {
        margin-left: 100px;
        .about-font-heading {
            font-size: var(--fs-1000);
            margin-bottom: 40px;
        }
    }
    .img-top {
        margin-top: 60px;
        width: 100%;
    }
}

.about-content-cont {
    .img-bottom {
        width: 100%;
    }
    .font-sect-1 {
        margin-top: 50px;
        margin-bottom: 30px;
        max-width: 600px;
    }
    .font-sect-2 {
        max-width: 600px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .about-content-grid {
        flex-flow: column nowrap !important;
    }
    .about-content-cont,
    .fix,
    .top {
        margin: 0 !important;
        text-align: center;
    }
    .fix {
        margin-top: 100px !important;
    }
    .about-more {
        justify-content: center;
    }
    .font-sect-1,
    .font-sect-2 {
        max-width: unset !important;
    }
}
