.contact {
    background-color: $bg-200;
    padding: 130px 0;
    .section-title-cont {
        padding-top: 0;
    }
}

.contact-align {
    width: 85%;
    margin: auto;
}

.contact-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    font-family: $ff-main;
    color: $clr-300;
    line-height: 1.6;
}

.contact-item {
    flex: 1;
}

.contact-info-cont {
    .info-logo {
        margin-bottom: 30px;
    }
    .info-font {
        margin: 20px 0;
        max-width: 260px;
        a {
            transition: background-color 150ms ease;
            color: unset;
            text-decoration: none;
            &:hover {
                background-color: $bg-400;
            }
        }
        span {
            font-weight: 500;
        }
    }
    .mail {
        color: $clr-accent;
    }
}

.contact-form-cont {
    display: flex;
    .contact-form-cont {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .contact-texta {
            height: 150px;
        }
        .contact-button-cont {
            display: flex;
            justify-content: flex-start;
            width: 70%;
        }
    }
}

.contact-map-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .contact-content {
        flex-flow: column nowrap !important;
    }
    .contact-item {
        margin: 15px 0 !important;
    }
    .contact-form-cont {
        width: 100% !important;
        order: -1;
    }
    .contact-button-cont {
        justify-content: center !important;
    }
    iframe {
        width: 95% !important;
    }
}
