.wrapper-shortcuts-dropdown-cont {
    display: none;
    text-align: center;
    margin-top: 40px;
}

@media screen and (max-width: 1024px) {
    .wrapper-shortcuts-dropdown-cont {
        display: block;
    }
}

.dropdown-align {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.dropdown-anchor {
    font-family: $ff-main;
    font-size: 1.15rem;
    color: $clr-300;
    margin-bottom: 10px;
    &::after {
        content: '';
        display: inline-block;
        background: url(../images/chevron-down--inactive.png) center no-repeat;
        width: 10px;
        height: 10px;
        transform: translate(8px, -1px);
    }
}

.dropdown-content-cont {
    display: none;
    flex-flow: column nowrap;
    background-color: $bg-400;
    .dropdown-item {
        flex: 1;
        padding: 15px 0;
        font-family: $ff-main;
        color: $clr-200;
        &:hover {
            background-color: $bg-accent;
            color: $clr-100;
        }
    }
}
