.footer-links {
    background-color: var(--bg-100);
    padding: 45px 0;
    border-bottom: 1px solid var(--bg-400);
}

.footer-links-align {
    width: 85%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

.footer-links-cont {
    flex: 1;
    font-family: $ff-main;
    padding: 0 15px;
    display: flex;
    flex-flow: column nowrap;
    border-left: 1px solid var(--bg-400);
    .footer-heading {
        height: calc(var(--fs-300) * 2.25);
        color: var(--clr-300);
        font-size: var(--fs-300);
        font-weight: 500;
        margin-bottom: 15px;
        max-width: 145px;
    }
    .footer-link {
        color: var(--clr-200);
        font-size: var(--fs-300);
        margin: 5px 0;
    }
}

.footer {
    background-color: var(--bg-100);
    padding: 30px 0;
}

.footer-align {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer-item {
    flex: 1;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-copyright {
    padding-bottom: 20px;
    background-color: var(--bg-100);
    display: flex;
    flex-flow: row wrap;
}

.footer-copyright-cont {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $ff-main;
    color: var(--clr-200);
    .copyright-font {
        font-size: var(--fs-300);
    }
    .copyright-font a {
        text-decoration: none;
        color: unset;
        transition: color 150ms ease;
        &:hover {
            color: var(--clr-link);
        }
    }
    .dark {
        font-size: var(--fs-600);
        color: var(--clr-300);
    }
    .footer-pipe {
        margin: 0 10px;
    }
}

@media screen and (max-width: 1024px) {
    .footer-links-cont {
        margin-top: 25px;
    }
    .footer-align {
        flex-flow: column nowrap;
    }
    .footer-copyright {
        flex-flow: column nowrap;
    }
    .footer-copyright-cont {
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px) {
    .footer-img {
        width: 100%;
        height: auto;
    }
}
