.gallery {
    background-color: var(--bg-100);
    padding: 130px 0;
    .section-title-cont {
        padding-top: 0;
    }

    .gallery-align {
        width: 85%;
        margin: auto;
    }

    .section-tag {
        font-family: $ff-main;
        color: var(--clr-300);
        font-size: var(--fs-800);
        text-align: center;
    }
}

.gallery-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    a {
        text-decoration: none;
        color: unset;
    }
}

.gallery-item {
    margin: 50px 20px;
    transition: background-color 300ms ease;
    &:hover {
        background-color: var(--bg-400);
    }
    .gallery-thumbnail {
        width: 100%;
        height: auto;
    }
    .gallery-title-cont {
        padding: 20px 0;
        font-family: $ff-main;
        font-size: var(--fs-400);
        color: var(--clr-300);
        text-align: center;
        .gallery-title-action {
            margin-top: 10px;
            font-size: var(--fs-900);
        }
    }
}
