//light theme
$bg-100: #ffffff;
$bg-200: #f4f5f8;
$bg-300: #eef0f5;
$bg-400: #e3e6ee;
$bg-accent: #e6488b;

//typograpy
$ff-main: 'Roboto', sans-serif;
$clr-100: #ffffff;
$clr-200: #6c799a;
$clr-300: #33506b;
$clr-accent: #e6488b;
