.nav {
    height: 42px;
    background-color: var(--bg-400);
    text-align: center;
    font-family: $ff-main;
    font-size: var(--fs-200);
    font-weight: 400;
    color: var(--clr-300);
    .nav-align {
        display: flex;
        flex-wrap: nowrap;
        width: 85%;
        margin: auto;
        height: 100%;
        align-items: center;
    }
    .nav-cell {
        padding: 0 20px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 150ms ease, color 150ms ease;
        &:hover:not(.divider) {
            background-color: var(--bg-accent);
            color: var(--clr-100);
        }
    }
    .nav-border {
        border-right: 1.5px solid var(--bg-100);
    }
    .divider {
        flex: 1;
        cursor: default;
    }
}

.opt-theme,
.opt-font {
    font-weight: 600;
    font-size: var(--fs-500);
    cursor: pointer;
    user-select: none;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin: 0 6px;
        border-radius: 50%;
        transition: background 150ms ease;
        &:hover {
            background: #bdbdbd5b;
        }
    }
}
.opt-theme-ico {
    background: url(../images/ico-theme.png) center;
    background-size: cover;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1024px) {
    .nav {
        .nav-align {
            justify-content: center !important;
        }
        .divider {
            display: none;
        }
    }
    .opt-theme-ico {
        width: 15px !important;
        height: 15px !important;
    }
    .opt-font {
        font-size: var(--fs-300) !important;
    }
}

@media screen and (max-width: 600px) {
    .nav {
        display: none !important;
    }
    .temp-cont {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    .search-box-inp {
        padding: 0 10px !important;
    }
    .temp-ico {
        width: 20px !important;
        height: 20px !important;
    }
    .temp-font {
        font-size: var(--fs-300) !important;
    }
}
