.offers {
    background-color: $bg-200;
    padding-bottom: 32px;
}

.offers-align {
    width: 85%;
    height: 100%;
    margin: auto;
}

.offers-tiles-cont {
    .offers-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .offer {
            width: 380px;
            height: 320px;
            margin: 16px;
            background-color: $bg-300;
            display: flex;
            flex-flow: column nowrap;
            color: $clr-300;
            cursor: pointer;
            &:hover {
                background-color: $bg-accent;
                color: $clr-100;
            }
            .offer-thumbnail {
                width: 100%;
                height: 214px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            //thumbnails
            .of1 {
                background-image: url(../images/bg1.png);
            }
            .of2 {
                background-image: url(../images/bg2.png);
            }
            .of3 {
                background-image: url(../images/bg3.png);
            }
            .of4 {
                background-image: url(../images/bg4.png);
            }
            .of5 {
                background-image: url(../images/bg5.png);
            }
            .of6 {
                background-image: url(../images/bg6.png);
            }
            //end of thumbnails
            .offer-title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $ff-main;
                font-size: 1.2rem;
                flex: 1;
            }
        }
    }
}

.offers-banner {
    width: 85%;
    height: 197px;
    margin: auto;
    margin-top: 16px;
    background: url(../images/tag1.png) center no-repeat,
        url(../images/tag1-img-l3.png) center no-repeat,
        url(../images/tag1-img-l2.png) center no-repeat,
        url(../images/tag1-img-l1.png) center no-repeat;
}

@media screen and (max-width: 600px) {
    .offers-banner {
        display: none !important;
    }
}
