.offers {
    background-color: $bg-200;
    padding-bottom: 32px;
}

.offers-align {
    width: 85%;
    height: 100%;
    margin: auto;
}

.offers-tiles-cont {
    width: 90%;
    margin: auto;
    .offers-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .offer {
            height: 320px;
            margin: 16px;
            background-color: $bg-300;
            display: flex;
            flex-flow: column nowrap;
            color: $clr-300;
            cursor: pointer;
            transition: all 300ms ease;
            &:hover {
                background-color: $bg-accent;
                color: $clr-100;
            }
            .offer-thumbnail {
                width: 100%;
                height: auto;
            }
            .offer-title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $ff-main;
                font-size: var(--fs-600);
                flex: 1;
            }
        }
    }
}

.offers-banner {
    width: 85%;
    margin: auto;
    margin-top: 16px;
}

@media screen and (max-width: 600px) {
    .offers-banner {
        display: none !important;
    }
}
