.offers {
    background-color: $bg-200;
    height: 1100px;
}

.offers-align {
    width: 85%;
    height: 100%;
    margin: auto;
}

.offers-title-cont {
    padding: 40px 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-family: $ff-main;
    color: $clr-300;
    .title-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        line-height: 1.3;
        .title-font {
            font-size: 1.25rem;
        }
        .tag {
            font-size: 2rem;
        }
        .title-divider {
            height: 2px;
            width: 60%;
            background-color: $bg-accent;
        }
    }
}

.offers-tiles-cont {
    .offers-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .offer {
            width: 380px;
            height: 320px;
            margin: 16px;
            background-color: $bg-300;
            display: flex;
            flex-flow: column nowrap;
            color: $clr-300;
            cursor: pointer;
            &:hover {
                background-color: $bg-accent;
                color: $clr-100;
            }
            .offer-thumbnail {
                width: 100%;
                height: 214px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            //thumbnails
            .of1 {
                background-image: url(../images/bg1.png);
            }
            .of2 {
                background-image: url(../images/bg2.png);
            }
            .of3 {
                background-image: url(../images/bg3.png);
            }
            .of4 {
                background-image: url(../images/bg4.png);
            }
            .of5 {
                background-image: url(../images/bg5.png);
            }
            .of6 {
                background-image: url(../images/bg6.png);
            }
            //end of thumbnails
            .offer-title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $ff-main;
                font-size: 1.2rem;
                flex: 1;
            }
        }
    }
}

.offers-banner {
}
