.wrapper {
    width: 100%;
}

.wrapper-info-cont {
    height: 140px;
}

.wrapper-info-align {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 85%;
    height: 100%;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .wrapper-info-cont {
        height: unset !important;
    }
    .wrapper-info-align {
        flex-direction: column !important;
    }
    .wrapper-info-contact {
        display: none;
    }
    .wrapper-info-logo {
        order: -1;
        width: 100%;
        margin: 30px 0;
        .logo {
            height: 100px !important;
        }
    }
    .wrapper-info-meta {
        width: 100%;
        .wrapper-info-meta-align {
            flex: 1;
            .search-box-cont {
                width: 100%;
                .search-box-ico {
                    flex: 0.4 !important;
                }
            }
        }
    }
}

.wrapper-info {
    flex: 1;
}

.info-table {
    display: flex;
    flex-flow: column nowrap;
    font-family: $ff-main;
    .info-table-top {
        display: flex;
        flex-wrap: nowrap;
        font-size: 1.2rem;
        .info-table-numbers {
            color: $clr-accent;
            font-weight: 500;
            .info-table-font {
                margin: 5px 0;
            }
        }
        .info-table-divider {
            width: 2px;
            background-color: $bg-200;
            margin: 0 20px;
        }
        .info-table-tag {
            color: $clr-300;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }
    }
    .info-table-bottom {
        margin-top: 8px;
        color: $clr-accent;
    }
}

@media screen and (max-width: 1400px) {
    .info-table-top {
        font-size: calc((16px + 1vw) / 2) !important;
    }
    .info-table-bottom {
        font-size: calc((14px + 1vw) / 2) !important;
    }
}

.wrapper-info-logo {
    height: 100%;
    .logo {
        background: url(../images/logo.png) center no-repeat;
        height: 100%;
        background-size: contain;
    }
}

.wrapper-info-meta {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: center;
    align-items: center;
    .wrapper-info-meta-align {
        display: flex;
        flex-wrap: nowrap;
    }
    .search-box-cont {
        height: 50px;
        display: flex;
        border: 2px solid $bg-200;
        .search-box-inp {
            all: unset;
            flex: 4;
            padding: 0 15px;
            color: $clr-300;
            font-family: $ff-main;
            &::placeholder {
                color: $clr-300;
            }
        }
        .search-box-ico {
            flex: 1;
            width: 50px;
            background: url(../images/ico-search.png) center no-repeat;
            cursor: pointer;
        }
    }
    .temp-cont {
        display: flex;
        align-items: center;
        margin-left: 20px;
        .temp-ico {
            background: url(../images/ico-weather.png) center no-repeat;
            background-size: contain;
            width: 25px;
            height: 25px;
            margin: 0 10px;
        }
        .temp-font {
            font-family: $ff-main;
            font-weight: 500;
            font-size: 1.2rem;
            color: $clr-300;
        }
    }
}

.wrapper-shortcuts-cont {
    margin-top: 30px;
}

@media screen and (max-width: 1024px) {
    .wrapper-shortcuts-cont {
        display: none !important;
    }
}

.wrapper-shortcuts-align {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    .wrapper-shortcut {
        font-family: $ff-main;
        font-size: calc((17px + 1vw) / 2);
        font-weight: 500;
        color: $clr-300;
        margin: 0 30px;
        cursor: pointer;
        position: relative;
    }
    @media screen and (max-width: 1100px) {
        .wrapper-shortcut {
            font-size: calc((12px + 1vw) / 2);
        }
    }
    .wrapper-menu::before {
        content: '';
        position: absolute;
        display: inline-block;
        background: url(../images/chevron-down--inactive.png) center no-repeat;
        background-size: contain;
        width: 9px;
        height: 9px;
        transform: translate(-200%, 33%);
    }
    .wrapper-menu {
        z-index: 9;
    }
    .wrapper-menu:hover .wrapper-submenu {
        display: flex;
    }
    .wrapper-submenu {
        top: -60%;
        left: 50%;
        display: none;
        position: absolute;
        width: 130%;
        background-color: $bg-300;
        z-index: -1;
        transform: translateX(-50%);
        flex-flow: column nowrap;
        padding-top: 45px;
        .submenu-item {
            transition: all 100ms ease;
            flex: 1;
            font-family: $ff-main;
            font-size: 0.85rem;
            color: $clr-300;
            padding: 20px;
            &:hover {
                background-color: $bg-accent;
                color: $clr-100;
            }
        }
    }
}

.wrapper-image {
    height: 577px;
    width: 100%;
    background: url(../images/wrapper-img.png) center no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.wrapper-controls-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 70px;
    background-color: $bg-200;
}

.wrapper-controls-align {
    height: 100%;
    .controls-cont {
        height: 100%;
        min-width: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        .control-dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 20px;
            background-color: #93a2b1;
            cursor: pointer;
        }
        .dot-active {
            background-color: $bg-100;
            border: 2px solid $bg-accent;
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper-info-align {
        width: 95% !important;
    }
    .control-dot {
        transform: scale(1.5);
    }
}
